nav {
    float: left; 
    margin: 0 1.5%; 
    width: 14%;
    padding-top: 4em;
    }
article { 
    float: left; 
    margin: 0 1.5%; 
    width: 79%;
    }
body {
    font-family: arial, "Times new roman" ;
    font-size: 14px;
    background-color: #B8EE83;
    text-align: justify;
    }
header {
    text-align: center;
    font-size:2.5em;
    font-weight: bold; 
    color: #2F284A;
    background-image: url("image/karoliukai.jpeg");
    padding: 1em;
    }
footer {
    font-style: italic; 
    font-weight: bold;
    text-align: center;
    clear: both; 
    position: relative; 
    z-index: 10; 
    height: 3em; 
    margin-top: -3em;
    padding: 2em;
    }
address {
    background: #B8EE83  url("image/contact.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 250px 70px;
    }
button {
    font-size: 16px;
    background: linear-gradient(to right,#24CA2F , #E1F908);
    border-radius: 25px;
    box-shadow: 5px 5px 3px #888888;
    margin: 0.3em;
    width: 80%;
    }
#rotated {
    transform: rotate(2deg);
    } 
img {
    padding: 1em;   
    }
p {
    padding: 0 1em;
    }
p.wide {
    max-width: 260px;
    text-align: justify;
    }
div.user {
    display: block;
    text-align: right;
    line-height: 40px;
    padding: 0 40px;
    }
h2 {
    text-align: left;
    padding: 0 0.4em;
    }

@media only screen and (max-width: 319px) {
address, header {
    background-image: none;
    }
header {
    font-size: 1.5em;
    }
nav, article {
    width: 100%;
    }
p {
    font-size: 13px;
    }
img {
    max-width: 100px;
    }
div.user {
    text-align: left;
    margin: 0;
    padding: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
address {
    background-image: none;
    }
header {
    font-size: 1.5em;
    }
nav, article {
    width: 100%;
    }
p {
    font-size: 13px;
    }
div.user {
    text-align: center;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
address {
    background-image: none;
    }
nav {
    width: 25%;
    }
article { 
    width: 68%;
    }
}

